In [1]:
import pandas as pd
import numpy as np
file_path = "Resources/purchase_data.csv"
purchase = pd.read_csv(file_path)
purchase.head()
total_players = []
tot = []
total_purchase = 0

In [2]:
total_players = purchase["SN"]
tot = (set(total_players))
tot = len(tot)
purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
unique = len(set(purchase["Item ID"]))
unique

183

In [4]:
mean = round(purchase["Price"].mean(),2)
mean = float(mean)
mean = '${:,.2f}'.format(mean)
mean

'$3.05'

In [5]:
total_purchase = len(purchase["Item Name"])
total_purchase

780

In [6]:
Total_Revenue = purchase["Price"].sum()

In [7]:
Total_Revenue = float(Total_Revenue)
Total_Revenue = '${:,.2f}'.format(Total_Revenue)
Total_Revenue

'$2,379.77'

In [8]:
#summary = [unique,mean,total_purchase,Total_Revenue]
#summary1 = ["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]

In [9]:
#summary_merge = zip(summary1,summary)

In [10]:
#summary_merge = list(summary_merge)

In [11]:
#summary_merge

[('Number of Unique Items', 183),
 ('Average Price', '$3.05'),
 ('Number of Purchases', 780),
 ('Total Revenue', '$2,379.77')]

In [12]:
purchase_over = purchase["Gender"].value_counts()
purchase_over
purchase_male = purchase.loc[purchase['Gender']=='Male',:]

In [13]:
purchase_male.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
purchase_female = purchase.loc[purchase['Gender']=='Female',:]

In [15]:
purchase_female.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [16]:
purchase_other = purchase.loc[purchase['Gender']=='Other / Non-Disclosed']
purchase_other.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [17]:
male_count = len(set(purchase_male["SN"]))

In [18]:
female_count = len(set(purchase_female["SN"]))
other_count = len(set(purchase_other["SN"]))

In [19]:
percentage_male = round((male_count/tot)*100,2)

In [20]:
percentage_female = round((female_count/tot)*100,2)

In [21]:
percentage_other =  round((other_count/tot)*100,2)

In [22]:
count = [male_count,percentage_male,female_count,percentage_female,other_count,percentage_other]

In [23]:
count

[484, 84.03, 81, 14.06, 11, 1.91]

In [43]:
male_count_pa = len(purchase_male["SN"])
male_count_pa = float(male_count_pa)
female_count_pa = len(purchase_female["SN"])
female_count_pa = float(female_count_pa)
other_count_pa = len(purchase_other["SN"])
other_count_pa = float(other_count_pa)

In [49]:
tot_purchase_male = purchase_male["Price"].sum()
tot_purchase_male = float(tot_purchase_male)
tot_purchase_male ='${:,.2f}'.format(tot_purchase_male)
tot_purchase_male2 = purchase_male["Price"].sum()

tot_purchase_female = purchase_female["Price"].sum()
tot_purchase_female = float(tot_purchase_female )
tot_purchase_female ='${:,.2f}'.format(tot_purchase_female)
tot_purchase_female2 = purchase_female["Price"].sum()

tot_purchase_other = purchase_other["Price"].sum()
tot_purchase_other = float(tot_purchase_other)
tot_purchase_other ='${:,.2f}'.format(tot_purchase_other)
tot_purchase_other2 = purchase_other["Price"].sum()

avg_pur_male = round((tot_purchase_male2/male_count_pa),2)
avg_pur_male = float(avg_pur_male)
avg_pur_male = '${:,.2f}'.format(avg_pur_male)

avg_pur_female = round((tot_purchase_female2/female_count_pa),2) 
avg_pur_female = float(avg_pur_female)
avg_pur_female = '${:,.2f}'.format(avg_pur_female)

avg_pur_other = round((tot_purchase_other2/other_count_pa),2)
avg_pur_other = float(avg_pur_other)
avg_pur_other = '${:,.2f}'.format(avg_pur_other)

tot_avg_perp_male = round((tot_purchase_male2/male_count),2)
tot_avg_perp_male = float(tot_avg_perp_male)
tot_avg_perp_male = '${:,.2f}'.format(tot_avg_perp_male)

tot_avg_perp_female = round((tot_purchase_female2/female_count),2)
tot_avg_perp_female = float(tot_avg_perp_female)
tot_avg_perp_female = '${:,.2f}'.format(tot_avg_perp_female)

tot_avg_perp_other = round((tot_purchase_other2/other_count),2)
tot_avg_perp_other = float(tot_avg_perp_other)
tot_avg_perp_other = '${:,.2f}'.format(tot_avg_perp_other)

In [26]:
rawdata = {'Total Players':[tot]}

In [27]:
df = pd.DataFrame(rawdata)

In [30]:
rawdata2 = {'Number of Unique Items':[unique],
      'Average Price':[mean],
      'Number of Purchases':[total_purchase],
     'Total Revenue':[Total_Revenue]}

In [31]:
df2 = pd.DataFrame(rawdata2)
df2

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [40]:
rawdata3 = {
           'Total Count':[male_count,female_count,other_count],
           'Percentage Of Players':[percentage_male,percentage_female,percentage_other]}

In [41]:
df3 = pd.DataFrame(rawdata3,index=['Male','Female','Other / Non-Disclosed'])
df3

                       Total Count  Percentage Of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [51]:
rawdata4 = {'Purchase Count': [female_count_pa,male_count_pa,other_count_pa],
      'Average Purchase Price':[avg_pur_female,avg_pur_male,avg_pur_other],
      'Total Purchase Value':[tot_purchase_female,tot_purchase_male,tot_purchase_other],
      'Avg Total Purchase per Person':[tot_avg_perp_female,tot_avg_perp_male,tot_avg_perp_other]}
df4 = pd.DataFrame(rawdata4,index=['Female','Male','Other / Non-Disclosed'])
df4

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113.0,$3.20,$361.94,$4.47
Male,652.0,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15.0,$3.35,$50.19,$4.56

In [59]:
bins = [0,10,15,20,25,30,35,40,45]
labels =["<10","10-14","15-19","20-24","25-29","30-34","35-39"]

In [76]:
purchase_bin = purchase.groupby(['Age'])
print(purchase_bin)
purchase_bin.count().head(10)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x00F62EF0>

     Purchase ID  SN  Gender  Item ID  Item Name  Price
Age
7              9   9       9        9          9      9
8              8   8       8        8          8      8
9              6   6       6        6          6      6
10             9   9       9        9          9      9
11             7   7       7        7          7      7
12             6   6       6        6          6      6
13             4   4       4        4          4      4
14             2   2       2        2          2      2
15            35  35      35       35         35     35
16            30  30      30       30         30     30

In [65]:
#purchase_bin["Purchase Summary"] = pd.cut(purchase_bin["Age"], bins, labels=labels,dtype=float)

In [70]:
#purchase_bin1 = pd.DataFrame(purchase_bin)

ValueError: DataFrame constructor not properly called!